{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "import/newline-after-import": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "arrow-body-style": 0,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "jsx-quotes": [2, "prefer-single"],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-no-bind": 0,
    "no-param-reassign": 0,
    "max-len": [2, 150]
  },
  "env": {
    "browser": true
  }
}